.header__link {
  margin-left: auto;
  color: #CCCCCC;
  font-size: 22px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 522px) {
  .header__link {
    font-size: 14px;
    margin-right: 30px;
  }
}
