.header__email {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-right: 24px;
}

@media screen and (max-width: 522px) {
  .header__email {
    font-size: 14px;
    margin-right: 16px;
  }
}
